





body {
  margin: 0;
  
}
    .nav-check-container{width: 100%;
    height: 100px;
    
    display: flex;
    align-items:  center;
    justify-content: flex-end;
     
     overflow: hidden;
      position: fixed;
      top: 0;
  }

  .header{width: 100%;
    height: auto;
    margin-top: 90px;
       display: flex;
    flex-direction: column;
  }

h2{font-family: 'Great Vibes', cursive;
font-size: 80px; 
color: #3B3B3B ;
text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
margin: 5px;
 margin: auto;}
h1{font-family: 'Great Vibes', cursive;
color: #3B3B3B  ;
font-size: 20px;
 margin: auto;}

 p{font-size: 15px;
font-family: 'Karla', sans-serif;
 }

 .check, .total , .total2 {width: 180px;
    height: 60px;
 	display: flex;
 	flex-direction: row;
  justify-content: center;
  align-items: center;
 color:#EFEFEF   ;
  background-color: #8B8B8B ;
  border: none;
  border-radius: 50px;
  padding: 5px 20px;
  margin-right: 15px;
  margin-top: 5px;
border: 2px solid #2C2C2C;
}

  .total2:hover{background-color: black;}

.pizza-container , .dessert-container{width: 100%;
	background-color: #FF977D;

border-bottom: 2px solid #FD3505;
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: center;

}
.pasta-container{width: 100%;
	


display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: center;}

 .container-pizza1{

 background-image: url('pic/1Pepperoni.jpg');
  border-radius: 150px;
 border: 2px solid #5A5A5A;
  background-size:cover;
  background-repeat:no-repeat;
  width:280px;
  height:280px;
  margin: auto;
  background-position: center;
}
.container-pizza2{
background-image: url('pic/2RomaPizza.jpg');
  border-radius: 150px;
 border: 2px solid #5A5A5A;
  background-size:cover;
  background-repeat:no-repeat;
  width:280px;
  height:280px;
  margin: auto;
  background-position: center;
}
.container-pizza3{
background-image: url('pic/3WineHouse.jpg');
  border-radius: 150px;
 border: 2px solid #5A5A5A;
  background-size:cover;
  background-repeat:no-repeat;
  width:280px;
  height:280px;
  margin: auto;
  background-position: center;
}
.container-pizza4{
background-image: url('pic/4GarlicCheese.jpg');
  border-radius: 150px;
 border: 2px solid #5A5A5A;
  background-size:cover;
  background-repeat:no-repeat;
  background-position: center;
  width:280px;
  height:280px;
  margin: auto;
}
.container-pizza5{
background-image: url('pic/5Diablo.jpg');
  border-radius: 150px;
 border: 2px solid #5A5A5A;
  background-size:cover;
  background-repeat:no-repeat;
  width:280px;
  height:280px;
  margin: auto;
  background-position: center;
}

.container-pasta1{
background-image: url('pic/6SpaghettiBolognese.jpg');
  border-radius: 150px;
 border: 2px solid #5A5A5A;
  background-size:cover;
  background-repeat:no-repeat;
  width:280px;
  height:280px;
  margin: auto;
  background-position: center;
}
.container-pasta2{
background-image: url('pic/7Fettuccini.jpg');
  border-radius: 150px;
 border: 2px solid #5A5A5A;
  background-size:cover;
  background-repeat:no-repeat;
  width:280px;
  height:280px;
  margin: auto;
  background-position: center;
}
.container-pasta3{
background-image: url('pic/8PenneWithPrawns.jpg');
  border-radius: 150px;
 border: 2px solid #5A5A5A;
  background-size:cover;
  background-repeat:no-repeat;
  width:280px;
  height:280px;
  margin: auto;
  background-position: center;
}
.container-pasta4{
background-image: url('pic/9Lasagna.jpg');
  border-radius: 150px;
 border: 2px solid #5A5A5A;
  background-size:cover;
  background-repeat:no-repeat;
  width:280px;
  height:280px;
  margin: auto;
  background-position: center;
}

.container-dessert1{
background-image: url('pic/10TiramisuCake.jpg');
  border-radius: 150px;
 border: 2px solid #5A5A5A;
  background-size:cover;
  background-repeat:no-repeat;
  width:280px;
  height:280px;
  margin: auto;
  background-position: center;
}
.container-dessert2{
background-image: url('pic/11SpongeCake.jpg');
  border-radius: 150px;
 border: 2px solid #5A5A5A;
  background-size:cover;
  background-repeat:no-repeat;
  width:280px;
  height:280px;
  margin: auto;
  background-position: center;
}
.container-dessert3{
background-image: url('pic/12ChiffonCake.jpg');
  border-radius: 150px;
 border: 2px solid #5A5A5A;
  background-size:cover;
  background-repeat:no-repeat;
  width:280px;
  height:280px;
  margin: auto;
  background-position: center;
}
.button-container{margin: auto;}
.border-container1 , .border-container2, .border-container3, .border-container4, .border-container5, .border-container6{
	
width: 450px;
height: 450px;
display: flex;
flex-direction: column;

margin: 20px;

 }

.add-button{display: inline-block;
  width: 100px;
  padding: 15px 15px;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #3CBB3A    ;
  border: none;
  border-radius: 50px;
  -webkit-box-shadow: -5px 18px 43px 0px rgba(0,0,0,0.56);
 -moz-box-shadow: -5px 18px 43px 0px rgba(0,0,0,0.56);
     box-shadow: -5px 18px 43px 0px rgba(0,0,0,0.56);
     margin-top: 15px;}
.add-button:hover{opacity: 0.6;
 }
     .remove-button{display: inline-block;
   width: 100px;
  padding: 15px 15px;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #F05631  ;
  border: none;
  border-radius: 50px;
  -webkit-box-shadow: -5px 18px 43px 0px rgba(0,0,0,0.56);
 -moz-box-shadow: -5px 18px 43px 0px rgba(0,0,0,0.56);
   box-shadow: -5px 18px 43px 0px rgba(0,0,0,0.56);
   margin-top: 15px;}

.remove-button:hover{opacity: 0.6;
 }

   .quantity{ color: black;
   text-align: center;
}

   .name-up-quantity {color: black;
   text-align: center;}


   h6{
   	color: #3B3B3B;
  text-align: center;
   font-size: 45px;
  font-family: 'Montserrat', sans-serif;
  margin-top: 50px;
  margin-bottom: : 0px;
   }

   .pizza-main-section{	background-color: #FF977D;
border-top: 2px solid #FD3505;}

.dessert-main-section{	background-color: #FF977D;
border-top: 2px solid #FD3505;}

 .checkout-container   {width: 100%;
 }

li{
  font-size: 21px;
  font-family: 'Karla', sans-serif;
  list-style: none;
  text-align: center;
}

.footer-container{
  


width: 100%;
height: 300px;
}

h5{font-size: 40px;
  font-family: 'Karla', sans-serif;
text-align: center;
margin: auto;}


























@media screen and (min-width: 600px) {

    .nav-check-container{width: 100%;
    height: 100px;
    
    display: flex;
    align-items:  center;
    justify-content: flex-end;
     
     overflow: hidden;
      position: fixed;
      top: 0;
  }

  .header{width: 100%;
    height: auto;
    margin-top: 90px;
       display: flex;
    flex-direction: column;
  }

h2{font-family: 'Great Vibes', cursive;
font-size: 120px; 
color: #3B3B3B ;
text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
margin: 5px;
 margin: auto;}
h1{font-family: 'Great Vibes', cursive;
color: #3B3B3B  ;
font-size: 35px;
 margin: auto;}


}